<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasanti.riskmessageinput.mapper.EnterpriseInformMapper">
    <insert id="saveEnterpriseInform" parameterType="com.dasanti.riskmessageinput.entity.EnterpriseInform" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO enterprise_inform(
        company_type,
        company_name,
        principal,
        address,
        informant,
        informant_number,
        lng,
        lat,
        total_number,
        risk_value,
        measure,
        major_danger,
        major_risk_name
        )VALUES(
        #{companyType},
        #{companyName},
        #{principal},
        #{address},
        #{informant},
        #{informantNumber},
        #{lng},
        #{lat},
        #{totalNumber},
        #{riskValue},
        #{measure},
        #{majorDanger},
        #{majorRiskName}
        )
    </insert>
    <insert id="saveInfluenceFactorDetails" parameterType="com.dasanti.riskmessageinput.entity.InfluenceFactorDetails">
        INSERT INTO influence_factor_details (
        enterprise_id,
        category_id,
        influence_factor,
        determine_factor,
        score,
        photo
        ) VALUES (
        #{enterpriseId},
        #{categoryId},
        #{influenceFactor},
        #{determineFactor},
        #{score},
        #{photo}
        )
    </insert>
    <insert id="saveWordUrl" parameterType="com.dasanti.riskmessageinput.entity.WordUrl">
        INSERT INTO word_details (
        enterprise_id,
        word_url
        ) VALUES (
        #{enterpriseId},
        #{wordUrl}
        )
    </insert>
    <insert id="saveOtherInfluenceDetails" parameterType="com.dasanti.riskmessageinput.entity.OtherInfluenceDetails">
        INSERT INTO other_influence (
        other_enterprise_id,
        valuation_category,
        major_risk_category,
        judge_l,
        judge_e,
        judge_c,
        judge_r,
        risk_level
        ) VALUES (
        #{otherEnterpriseId},
        #{valuationCategory},
        #{majorRiskCategory},
        #{judgeL},
        #{judgeE},
        #{judgeC},
        #{judgeR},
        #{riskLevel}
        )
    </insert>
    <insert id="saveRiskDeterminationTableForEnterprise" parameterType="com.dasanti.riskmessageinput.entity.RiskDeterminationTable">
        INSERT INTO risk_determination(
        enterprise_id,
        risk_value,
        risk_level,
        risk_measure,
        level_color,
        icon_url
        )values (
        #{enterpriseId},
        #{riskValue},
        #{riskLevel},
        #{riskMeasure},
        #{levelColor},
        #{iconUrl}
        )
    </insert>
</mapper>