<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasanti.riskmessageinput.mapper.EnterpriseDetailsMapper">
    <resultMap id="getAllEnterpriseMap" type="com.dasanti.riskmessageinput.entity.EnterpriseDetailsVO">
        <id column="id" property="id"/>
        <result column="company_type" property="companyType"/>
        <result column="company_name" property="companyName"/>
        <result column="principal" property="principal"/>
        <result column="address" property="address"/>
        <result column="informant" property="informant"/>
        <result column="informant_number" property="informantNumber"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="total_number" property="totalNumber"/>
        <result column="risk_value" property="riskValue"/>
        <result column="measure" property="measure"/>
        <result column="major_danger" property="majorDanger"/>
        <result column="major_risk_name" property="majorRiskName"/>
        <association property="riskDeterminationTable" javaType="com.dasanti.riskmessageinput.entity.RiskDeterminationTable">
            <id column="risk_determination_id" property="id"/>
            <result column="enterprise_id" property="enterpriseId"/>
            <result column="risk_value" property="riskValue"/>
            <result column="risk_level" property="riskLevel"/>
            <result column="risk_measure" property="riskMeasure"/>
            <result column="level_color" property="levelColor"/>
            <result column="icon_url" property="iconUrl"/>
        </association>
    </resultMap>
    <select id="getAllEnterprise" resultMap="getAllEnterpriseMap">
        SELECT * FROM enterprise_inform,risk_determination
        WHERE enterprise_inform.id = risk_determination.enterprise_id
    </select>
    <resultMap id="getEnterpriseRiskCountMap" type="com.dasanti.riskmessageinput.entity.EnterpriseRiskCountVO">
        <result column="risk_level" property="riskLevel"/>
        <result column="count(*)" property="count"/>
    </resultMap>
    <select id="getEnterpriseRiskCount" resultMap="getEnterpriseRiskCountMap">
        SELECT risk_level, COUNT(*)
        FROM risk_determination
        GROUP BY risk_level
    </select>
    <select id="getAllEnterpriseIdByRiskLevel" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        enterprise_id
        FROM
        risk_determination
        WHERE
        risk_level = #{riskLevel}
    </select>
    <resultMap id="getAllEnterpriseByEnterpriseIdMap" type="com.dasanti.riskmessageinput.entity.EnterpriseInform">
    <id column="id" property="id"/>
    <result column="company_type" property="companyType"/>
    <result column="company_name" property="companyName"/>
    <result column="principal" property="principal"/>
    <result column="address" property="address"/>
    <result column="informant" property="informant"/>
    <result column="informant_number" property="informantNumber"/>
    <result column="lng" property="lng"/>
    <result column="lat" property="lat"/>
    <result column="total_number" property="totalNumber"/>
    <result column="risk_value" property="riskValue"/>
    <result column="measure" property="measure"/>
    <result column="major_danger" property="majorDanger"/>
    <result column="major_risk_name" property="majorRiskName"/>
    </resultMap>
    <select id="getAllEnterpriseByEnterpriseId" resultMap="getAllEnterpriseByEnterpriseIdMap">
        SELECT
         *
        FROM
        enterprise_inform
        WHERE
        enterprise_inform.id
        IN
        <if test="enterpriseIdList !=null">
            <foreach collection="list" item="enterpriseIdList" index="index" open="(" separator="," close=")">
                #{enterpriseIdList}
            </foreach>
        </if>
    </select>
    <resultMap id="getTableDetailsByIdMap" type="com.dasanti.riskmessageinput.entity.TableDetailsVO">
        <result column="table_id" property="tableId"/>
        <result column="table_name" property="tableName"/>
        <result column="category_id" property="categoryId"/>
        <result column="influence_factor" property="influenceFactor"/>
        <result column="determine_factor" property="determineFactor"/>
        <result column="score" property="score"/>
    </resultMap>
    <select id="getTableDetailsById" parameterType="java.lang.Integer" resultMap="getTableDetailsByIdMap">
        SELECT
         table_id,
         table_name,
         category_id,
         influence_factor,
         determine_factor,
         score
        FROM
         input_message
        WHERE
         input_message.table_id = #{tableId}
    </select>
    <resultMap id="getInfluenceFactorDetailByEnterpriseIdMap" type="com.dasanti.riskmessageinput.entity.InfluenceFactorDetails">
        <result column="enterprise_id" property="enterpriseId"/>
        <result column="category_id" property="categoryId"/>
        <result column="influence_factor" property="influenceFactor"/>
        <result column="determine_factor" property="determineFactor"/>
        <result column="score" property="score"/>
        <result column="photo" property="photo"/>
    </resultMap>
    <select id="getInfluenceFactorDetailByEnterpriseId" parameterType="java.lang.Integer" resultMap="getInfluenceFactorDetailByEnterpriseIdMap">
        SELECT
         *
        FROM
         influence_factor_details
        WHERE
         enterprise_id = #{enterpriseId}
    </select>
    <resultMap id="getTableRiskDetailsByTableIdMap" type="com.dasanti.riskmessageinput.entity.TableRiskDetailsVO">
        <id column="table_risk_level.table_id" property="id"/>
        <result column="r_major_risk" property="rMajorRisk"/>
        <result column="r_larger_risk" property="rLargerRisk"/>
        <result column="r_general_risk" property="rGeneralRisk"/>
        <result column="r_low_risk" property="rLowRisk"/>
    </resultMap>
    <select id="getTableRiskDetailsByTableId" parameterType="java.lang.Integer" resultMap="getTableRiskDetailsByTableIdMap">
        SELECT
         r_major_risk,
         r_larger_risk,
         r_general_risk,
         r_low_risk
         FROM
         table_risk_level
         WHERE
         table_risk_level.table_id = #{tableId}
    </select>
    <resultMap id="getTableRiskCountDetailsByTableIdMap" type="com.dasanti.riskmessageinput.entity.TableComputerExplain">
        <result column="computer_count" property="computerCount"/>
    </resultMap>
    <select id="getTableRiskCountDetailsByTableId" parameterType="java.lang.Integer" resultMap="getTableRiskCountDetailsByTableIdMap">
        SELECT
        *
        FROM
        table_computer_explain
        WHERE
        table_computer_explain.table_id = #{tableId}
    </select>
    <resultMap id="getWordUrlByIdMap" type="java.lang.String">
        <result column="word_url" property="wordUrl"/>
    </resultMap>
    <select id="getWordUrlById" parameterType="java.lang.Integer" resultMap="getWordUrlByIdMap">
        SELECT
        word_url
        FROM
        word_details
        WHERE
        enterprise_id = #{enterpriseId}
    </select>
</mapper>